<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie Blog</title>
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{styles/home.css}"/>
</head>
<body>
<!-- Navigation bar -->
<div>
    <!-- Logo -->
    <h2>Techie Blog</h2>
    <nav>
        <ul>
            <li>
                <a href="#">home</a>
            </li>
            <li th:if="${sessionUser != null}">
                <a th:if="${sessionUser.getRole().equals('admin')}" th:href="@{/author}">author-list</a>
            </li>
            <li>
                <a href="#">archive</a>
            </li>
            <li>
                <a th:href="@{/login}" th:if="${sessionUser == null}">login</a>
            </li>
            <li>
                <a th:href="@{/register}">sign up</a>
            </li>
            <li>
                <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
</div>
<main>
    <h1 th:text="${'Willkommen'}" th:if="${sessionUser == null}"></h1>
    <h1 th:text="${'Willkommen, ' + sessionUser.username}" th:if="${sessionUser != null}"></h1>

    <hr>

    <div th:if="${sessionUser != null}">
        <p>
            <a th:href="@{/message}" th:if="${sessionUser.getRole().equals('admin')}">Nachricht verfassen</a>
        </p>
    </div>

    <hr>

    <div th:each="message: ${messages}">
        <a th:href="@{/profile/{username}(username=${message.user.username})}">
            <strong th:text="${'@' + message.user.username}"></strong>
        </a>
        <a th:href="@{/article/{messageID}(messageID=${message.getId()})}">
            <span th:text="${message.title}"></span>
        </a>

        <span th:text="${message.description}"></span>
    </div>

</main>

</body>
</html>