<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1 th:text="${user.username}"></h1>
    <a th:href="@{/}">Home</a>

    <hr>

    <h3>Articles</h3>
    <div th:each="message: ${messages}">
        <strong th:text="${#dates.format(message.postedAt)}"></strong>
        <span th:text="${message.title}"></span>
        <span th:text="${message.description}"></span>
        <span th:text="${message.content}"></span>
        <form th:if="${user == sessionUser}" method="post" th:action="@{/messageDelete(messageId=${message.id})}">
            <button type="submit">Delete</button>
        </form>
    </div>

</body>
</html>