 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Registrieren</h1>
    <form th:action="@{/register}" th:object="${registration}" method="post">
        Username: <input type="text" th:field="*{username}"><br/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        Passwort: <input type="password" th:field="*{password1}"><br/>
        <p th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></p>
        Passwort nochmal: <input type="password" th:field="*{password2}"><br/>
        <p th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>