main{
    min-height: calc(100vh - 5vh);
}
/*Article-Style*/
.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 10vh;

}
.article-container p{
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}
.date {
    font-size: 0.8rem;
    font-style: italic;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}
.date a{
    color:#B1D0E0;
}
.article-container form{
    position: relative;
}
.article-container button {
    position: absolute;
    right: 2rem;
    outline: none;
    border: none;
    background-color: #B1D0E0;
    color: #142850;
    padding: .425rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
}
.article-container button:hover {
    transform: scale(1.1);
}
/*Comment-Style*/
.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 3rem;
}
.comment-container > div{
    background-color: #00909E;
    padding: 0.425rem 1rem 1rem 1rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    width: 95%;
    margin: 0.5rem 0;
}
/*write comment block*/
.comment-container{
    margin-bottom: 2rem;
}
.comment-container input[type="submit"]{
    outline: none;
    border: none;
    background-color: #B1D0E0;
    color: #142850;
    padding: .425rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
}
.add-comment{
    width: 90vw;
}
.add-comment form label input{
    margin-top: 1rem;

}
.add-comment form{
    width: 100%;
    position: relative;
}
.add-comment form label{
    display: inline-block;
    padding-top: .425rem;

}
.add-comment form label textarea{
    width: 100%;
    margin-top: 1rem;
}
.add-comment form > input{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
}

/*show comment*/
.comment-user-date a{
    display: block;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0.3rem 0 0.4rem 0;
    color:#142850;
}
.comment-user-date span{
    color:#142850;
}
.comment-container form button{
    outline: none;
    border: none;
    background-color: #B1D0E0;
    color: #142850;
    padding: .425rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    margin-top: 1rem;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}
.comment-container .show-comment span:first-child{
    display: inline-block;
    padding-top: .425rem;
}
/* min-width 768px*/
@media screen and (min-width: 48em){
    .article-container{
        width: 34em;
        margin: 0 auto;
    }
    .comment-container{
        width: 60%;
        margin: 0 auto;
    }
}
/* min-width 1024px */
@media screen and (min-width: 64em){
    main{
        min-height: calc(100vh - 5vh);
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .article-container{
        width: 54em;
    }
    .article-container button{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .comment-container{
        width: 30em;
    }
    .comment-container textarea{
        border-radius: .4rem;
        box-shadow: .1rem .1rem .2rem #142850;
    }
}