/* Hero Section */
main{
    min-height: 88vh;
}
main h2{
    font-size: 1.4rem;
    padding: 1.225rem 1rem 1rem 1rem;
}
/* new article section */
.new-article a{
    margin: .625rem 0 3rem 1.625rem;
    display: inline-block;
    background-color: #DAE1E7;
    color: #142850;
    padding: .625rem;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: .1rem .1rem .2rem #B1D0E0;
}
/* Articles Styles */
main article{
    width: 20rem;
    margin-left: 1.625rem;
    padding: 1rem;
    background-color: #00909E;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    margin-bottom: 1rem;
    color: #DAE1E7;
}
.article-title {
    color: #142850;
    font-size: 1.125rem;
    cursor: pointer;
}
.article-title h3{
    padding-bottom: .425rem;
}
.author-date{
    margin-bottom: 1rem;
}
.article-date{
    color: #142850;
    font-weight: lighter;
    text-decoration: none;
}
.article-author{
    color: #142850;
    cursor: pointer;
}
footer{
    position: inherit;
}