/*
    #1A374D
    #406882
    #6998AB
    #B1D0E0
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    color: #B1D0E0;
    background-color: #27496D;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 1.4rem;
    margin-left: 1.625rem;
    padding: 1rem 0rem;
}

/* Login Box */
.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20rem;
    margin-left: 1.625rem;
    padding: 1rem;
    background-color: #00909E;
    color: #142850;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    margin-bottom: 1rem;
}
.login-name{
    margin: .625rem 0rem;

}
/* Login Button */
.login-button {
    margin: .625rem 0rem;
    display: inline-block;
    background-color: #DAE1E7;
    color: #142850;
    padding: .325rem;
    border-radius: .4rem;
    text-decoration: none;
    box-shadow: .1rem .1rem .2rem #B1D0E0;
}

