.container{
    padding: 8vh 1rem 1rem 1rem;
}
.container form{
    padding: 1rem;
    margin-top: 1rem;
    background-color: #00909E;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
}
.container form label:not(:first-child){
    display: block;
    margin-top: 1.625rem;
}
.container form input, .container form textarea{
    border: none;
    background-color: transparent;
    border-bottom: .1rem solid #B1D0E0;
    width: 100%;
    padding-top: 1rem;
    font-size: 1rem;
    color: #B1D0E0;
    height: 2rem;
}
.container .textarea{
}
.container form input[type="text"]:focus{
    outline: none;
    caret-color: #B1D0E0;
    color: #B1D0E0;
}
.container form button{
    outline: none;
    border: none;
    background-color: #B1D0E0;
    color: #142850;
    padding: .625rem;
    border-radius: .4rem;
    box-shadow: .1rem .1rem .3rem #142850;
    margin: 1rem 0;
}
.container form button:hover{
    transform: scale(1.1);
}
footer{
    position: absolute;
}